@import
  url('https://fonts.googleapis.com/css2?family=Amarante&family=DM+Serif+Text:ital@0;1&family=Federo&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #343434;
  font-family: "DM Serif Text", serif;
}
.center-wrapper{
   height: 90vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
.main-continer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  gap: 2.5rem;
}
.main-continer .logo-name{
   font-family: "Federo", sans-serif;
   color: whitesmoke;
   font-size: 2.5rem;
}.main-continer .slogan1{
  font-family: "Amarante", serif;
  color: whitesmoke;
  font-size: 2.7rem;
}
.main-continer .slogan2{
  color: whitesmoke;
  font-size: 1.3rem;
}
.main-continer img{
  width: min(150px, 50vw);
 
}
.btn-and-search{
  display: flex;
  align-items: center; 
  flex-direction: column;
  gap: 1rem;
}
.btn-and-search button{
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: white;
  background: rgb(255, 128, 0);
  border: none;
  border-radius:40px;
}
.btn-and-search input{
  font-size: 1rem;
  color: rgb(209, 206, 200);
  background: transparent;
  border-radius: 10px;
  border: solid 1.5px grey;
  padding: 1em 2em;
  max-width: 30rem;
  width: 50dvw;
}